* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: #111;
}

.container {
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.square {
  background-color: #1d1d1d;
  box-shadow: 0 0 2px #000;
  width: 2rem;
  height: 2rem;
  margin: 0.2rem;
  border-radius: 0.4rem;
  transition: 2s ease;
}

.square:hover {
  transition-duration: 0s;
}

/* for Tablets */
@media screen and (max-width: 768px) {
  html {
    font-size: 56.25%;
  }
}

/* for Smart Phones  */
@media screen and (max-width: 480px) {
  html {
    font-size: 50%;
  }
}
