@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  font-family: "Merriweather", serif;
  background-image: url(assets/Background.png);
  /* background: #ffb347;
  background: -webkit-linear-gradient(to right, #ffcc33, #ffb347);
  background: linear-gradient(to right, #ffcc33, #ffb347); */
}

.container {
  background-color: whitesmoke;
  padding: 2rem 3rem;
  border: 2px solid black;
  border-radius: 1rem;
  position: relative;
}

.message {
  margin-bottom: 4rem;
}

.btns {
  display: flex;
  justify-content: space-between;
}

button {
  background: none;
  border: 2px solid black;
  border-radius: 5px;
  font-weight: bold;
  padding: 0.3rem;
  cursor: pointer;
  background: rgba(230, 230, 230, 0.527);
}

button:active {
  outline: none;
  transform: scale(0.96);
}

button:focus {
  outline: none;
}

button:hover {
  outline: none;
}
