@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: url("assets/background.jpg");
  background-repeat: no-repeat;
  background-size: fill;
  font-family: "Love Ya Like A Sister", cursive;
}

header {
  position: fixed;
  padding: 1rem 2rem;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8f2d56;
  background-color: #fadde1;
  border-radius: 0 0 5rem 5rem;
}

header .logo {
  background-image: url("assets/logo.png");
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

header h1 {
  text-decoration: underline;
  text-align: center;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 3rem;
  border-radius: 1rem;
  background-color: #fff0f3;
  box-shadow: inset 1rem 1rem 1rem #dbc1c7, inset -1rem -1rem 1rem #ffffff;
}

main .body_text {
  font-size: 1.8rem;
  margin: 1rem;
  margin-bottom: 3rem;
}

form .input_containers {
  display: flex;
}

.form_control {
  margin: 1rem;
}

label {
  font-weight: bold;
  font-size: 1.4rem;
}

input {
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
  padding: 1rem;
  border: 0.2rem solid #800f2f;
  background-color: #ffeaed;
  color: #790938;
  margin-top: 1rem;
}

.error {
  margin: 1rem;
}

.error {
  font-size: 1.7rem;
  color: rgb(213, 42, 42);
}

button {
  margin-top: 1rem;
  width: 20rem;
  border: 0.3rem solid #800f2f;
  border-radius: 1rem;
  padding: 1rem 1rem;
  background-color: #800f2f;
  color: #fff0f3;
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
}

button:hover {
  background-color: #fff0f3;
  color: #800f2f;
}
button:active {
  transform: scale(1.1);
}

.result {
  margin-top: 3rem;
  font-size: 2rem;
  text-align: center;
}

#resultTxt {
  font-weight: bolder;
  font-size: 2.7rem;
}

/* for Tablets */
@media screen and (max-width: 768px) {
  html {
    font-size: 56.25%;
  }
}

/* for Smart Phones  */
@media screen and (max-width: 480px) {
  html {
    font-size: 55%;
  }
  header h1 {
    font-size: 2.7rem;
  }
  form .input_containers {
    /* display: flex; */
    flex-direction: column;
  }

  #resultYName::after {
    content: "\a";
    white-space: pre;
  }

  #resultCName::before {
    content: "\a";
    white-space: pre;
  }

  .result {
    margin-top: 1rem;
  }
}
